@charset "UTF-8";
/* Global variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27");
@import url("http://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
/* Reset */
*,
*:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Body */
body {
  font: 100% Open Sans, sans-serif;
  color: #333;
  background-color: white;
}

.menu-bar {
  background: white;
  text-align: center;
  margin: auto;
}

.menu-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.menu-bar ul li {
  width: auto;
  margin: 32px;
  margin-top: 0px;
  padding: 10px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: auto;
}

.menu-bar ul li:hover {
  background: #dfdbdb;
  border-radius: 3px;
}

.menu-bar ul li:hover .sub-menu1 {
  display: block;
  position: absolute;
  background: #dfdbdb;
  margin-top: 12px;
  margin-left: -10px;
}

.menu-bar ul li:hover .sub-menu1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu1 ul li {
  width: auto;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0;
  text-align: center;
  margin-top: 5px;
}

.sub-menu1 {
  display: none;
}

.hero {
  background-color: #7c6868;
  text-align: center;
  color: white;
  font-size: 2.5em;
  height: 90vh;
  border: 1px solid black;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10vw;
  margin-left: 10vw;
}

.hero-image {
  width: 70vw;
  height: auto;
  overflow: hidden;
}

.article-hero {
  background-color: #7a7a7a;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.article-image {
  padding-top: 0.5em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 300px;
  width: 300px;
  height: 300px;
  background-color: #303030;
}

.hero-header-text {
  font-size: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.articles-hero {
  background-color: #7a7a7a;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
}

.articles-image {
  padding-top: 0.5em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 40%;
  top: 200px;
  width: 700px;
  height: 400px;
  background-color: #a3a3a3;
}

.articles-image-overlap {
  padding-top: 0.5em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  top: 300px;
  width: 700px;
  height: 400px;
  background-color: #303030;
}

.black-top {
  width: 100%;
  background-color: #4643d1;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header {
  height: 15vh;
  z-index: 10;
  width: 80%;
  margin: auto;
}

.stip-btn {
  height: 8vh;
  width: 25%;
  background-color: #f0c124;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  margin-right: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}

.searchbar {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px, solid, black;
}

.nav-top {
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  padding: auto;
}

.figure-news {
  margin: 3em;
  padding-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #303030;
  border-color: red;
}

figure img {
  width: 100%;
}

.horizontal-line-box {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #303030;
  height: 30px;
  width: 150px;
  margin: 3em;
  margin-bottom: -3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter {
  height: 20vh;
  background-color: #7a7a7a;
}

.news-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  background-color: #7a7a7a;
}

.news-heading-main-box {
  height: 80px;
  width: 1000px;
  margin-top: 150px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-calendar {
  background: #7c6868;
  height: 20vh;
  border: 1px solid black;
}

.figure-calendar {
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

figure img {
  width: 100%;
}

.carousel {
  min-width: 900px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}

.carousel__activator {
  display: none;
}

.carousel__controls {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  bottom: 0;
}

.carousel__controls:first-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carousel__controls:last-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel__control {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #3d414a;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(33, 34, 36, 0.3);
          box-shadow: 0 2px 10px 0 rgba(33, 34, 36, 0.3);
  font-size: 24px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 48px;
  z-index: 1;
}

.carousel__control:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.carousel__activator:nth-of-type(1):checked
~ .carousel__controls:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(1):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.carousel__activator:nth-of-type(2):checked
~ .carousel__controls:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(2):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel__activator:nth-of-type(3):checked
~ .carousel__controls:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(3):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.carousel__activator:nth-of-type(4):checked
~ .carousel__controls:nth-of-type(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(4):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

.carousel__activator:nth-of-type(5):checked
~ .carousel__controls:nth-of-type(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(5):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}

.carousel__activator:nth-of-type(6):checked
~ .carousel__controls:nth-of-type(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(6):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-500%);
          transform: translateX(-500%);
}

.carousel__activator:nth-of-type(7):checked
~ .carousel__controls:nth-of-type(7) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(7):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-600%);
          transform: translateX(-600%);
}

.carousel__activator:nth-of-type(8):checked
~ .carousel__controls:nth-of-type(8) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(8):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-700%);
          transform: translateX(-700%);
}

.carousel__activator:nth-of-type(9):checked
~ .carousel__controls:nth-of-type(9) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__activator:nth-of-type(9):checked
~ .carousel__screen
.carousel__track {
  -webkit-transform: translateX(-800%);
          transform: translateX(-800%);
}

.carousel__screen {
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
}

.carousel__track {
  font-size: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.carousel__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}

.carousel__item--desktop-in-1 {
  width: 100%;
}

.carousel__item--desktop-in-2 {
  width: 50%;
}

.carousel__item--desktop-in-3 {
  width: 33.33333%;
}

.carousel-figure-content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica;
  font-weight: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.container-scolarships {
  background: #7c6868;
  height: 20vh;
  border: 1px solid black;
}

.container-social {
  height: 25vh;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: white;
}

.social-header {
  color: black;
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 1em;
}

.container-images-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.container-images-social img {
  height: 9vh;
}

@media screen and (min-width: 415px) and (max-width: 849px) {
  .container-social {
    height: 35vh;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .social-header {
    font-size: 1.5em;
    padding: 1em;
  }
  .container-images-social img {
    height: 15vh;
  }
}

@media screen and (min-width: 850px) and (max-width: 1920px) {
  .container-social {
    height: 50vh;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .social-header {
    font-size: 2em;
    padding: 1.5em;
  }
  .container-images-social img {
    height: 25vh;
  }
}

.container-video {
  background: #F0cF24;
  width: 100%;
  margin-top: 3em;
}

.videobox {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videobox .item1 {
  padding: 2em 0;
}

.videobox .item1 h2 {
  padding-bottom: 1em;
}

.videobox .item1 p {
  padding-bottom: .5em;
}

.videobox .item2 {
  padding: .5em 0 2em;
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
  /*VIDEO-----
	------*/
  .videobox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5em 5em;
  }
  .item1 h2 {
    font-size: 1.5rem;
  }
}

/*FOOTER------
--------------*/
.container-footer {
  background: black;
  padding: 1em;
}

.item-footer {
  padding: 1em 0;
}

.container-footer h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.p-item,
.item-footer a, .item-footer-list a, .copyright a {
  color: white;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
}

.item-footer--address .p-item:nth-of-type(3) {
  padding-bottom: 1em;
}

.contact-button, .submit-button {
  border: 0;
  margin: 2em 0 1em;
  background-color: #dc0000;
  line-height: 2.5;
  font-size: .9rem;
  text-align: center;
  border-radius: 10px;
  padding: 0 0.3em;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  -webkit-box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.contact-button:hover, .submit-button:hover {
  background-color: red;
}

.contact-button a {
  padding: .6em;
}

.item-footer form {
  margin-top: 2em;
}

.item-footer form input {
  display: block;
  margin: 1em 0;
}

.item-footer input:nth-of-type(1) {
  height: 2.5em;
}

.submit-button {
  padding: 0 1em;
  cursor: pointer;
}

.item-footer-list {
  list-style: none;
}

.item-footer-list li {
  height: 2em;
  position: relative;
}

.item-footer-social:hover {
  font-weight: 900;
  color: #e0b3a2;
  font-size: 1.2rem;
}

.copyright::before {
  content: " ";
  border-style: solid;
  border-color: #534f4f;
  border-top-width: 0.05em;
  position: absolute;
  width: 90vw;
}

.copyright p:nth-of-type(1) {
  padding-top: 1.5em;
}

.contact-hero {
  background-color: #F95791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 45vh;
}

.contact-header-text {
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5em;
}

.contact-p {
  color: black;
  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
}

.contact-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  width: 80%;
  height: 40vh;
  border-top: 10px solid #4643d1;
}

.contact-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-text {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 2em;
  font-size: 0.9rem;
  color: black;
  text-align: center;
}

.container-text div {
  padding-bottom: 3em;
}

.container-text div h2 {
  padding-bottom: 1em;
}

.item1-text p {
  font-style: normal;
}

.item5-text p,
.item7-text ul li,
.item9-text p {
  padding-bottom: 0.3em;
}

.item7-text ul {
  list-style: none;
}

.container-text a {
  text-decoration: none;
  color: black;
}

.main-title-form h2 {
  color: #f5eded;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 2em 0.5em 0.5em;
}

.main-title-form h2 span {
  background-color: black;
  border: 0.01px solid black;
  border-radius: 5px;
  padding: 0.1em;
}

.form-box form {
  max-width: 100%;
  margin: 3em 1em;
}

.feedback-input {
  color: black;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.7em;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

.container-form textarea {
  height: 30vh;
  line-height: 150%;
  resize: vertical;
}

.submit-contact-form {
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -0.2em;
  font-weight: 700;
}

.submit-contact-form:hover {
  background: #cc4949;
}

/*CONTACT FORM*/
@media screen and (min-width: 800px) and (max-width: 1920px) {
  .contact-hero {
    height: 55vh;
  }
  .contact-header-text {
    font-size: 6rem;
  }
  .contact-p {
    font-size: 2rem;
  }
  .contact-image {
    margin-top: 25em;
  }
  .container-text {
    margin-top: 50vh;
    font-size: 2rem;
  }
  .container-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5em;
  }
  .main-title-form h2 {
    font-size: 2.5rem;
  }
  .form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback-input {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .carousel__track {
    padding-left: 0;
    padding-right: 0;
  }
  .carousel__item--mobile-in-1 {
    width: 90%;
  }
  .carousel__item--mobile-in-2 {
    width: 45%;
  }
  .carousel__item--mobile-in-3 {
    width: 30%;
  }
  .carousel {
    max-width: 374px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
  .container-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .container-figure-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .figure-news {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 20em;
            flex: 1 20em;
  }
  figure img {
    max-width: 100%;
  }
  .container-images-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-images-social img {
    width: auto;
  }
  /*FOOTER-----
	------*/
  footer .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
  }
  .item-footer {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .copyright .p-item:nth-of-type(2) {
    position: absolute;
    top: 2.5em;
    left: 10em;
  }
  .copyright .p-item:nth-of-type(3) {
    position: absolute;
    right: 1.5em;
    top: 2.5em;
  }
  .copyright::before {
    width: 97vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1920px) and (max-width: 1023px) {
  .carousel {
    padding-left: 0;
    padding-right: 0;
  }
  .carousel__activator:nth-of-type(n):checked ~ .carousel__controls:nth-of-type(n) {
    display: none;
  }
  .carousel__activator:nth-of-type(n):checked ~ .carousel__screen .carousel__track {
    -webkit-transform: none;
            transform: none;
  }
  .carousel__screen {
    margin-left: 0;
    margin-right: 0;
  }
  .carousel__track {
    overflow-x: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 48px;
  }
  .carousel__item--tablet-in-1 {
    width: 90%;
  }
  .carousel__item--tablet-in-2 {
    width: 45%;
  }
  .carousel__item--tablet-in-3 {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .stip-btn {
    padding: 1px;
    width: 29%;
    height: 6vh;
  }
}

@media screen and (max-width: 800px) {
  .nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: small;
    width: 100%;
    margin-right: 0;
  }
  .menu-bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-bar ul li {
    margin: 0px;
    margin-left: -20px;
    font-size: 11px;
  }
}

.banger-container {
  position: relative;
  width: 100%;
}

.banger {
  max-width: 100%;
  height: auto;
}

.white-box-on-image {
  position: absolute;
  height: 10vh;
  max-height: 15vh;
  width: 45vw;
  top: 45%;
  left: 0;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 3vw;
}

.pink-box-on-image {
  position: absolute;
  height: 10vh;
  max-height: 15vh;
  width: 20vw;
  top: 60%;
  left: 10%;
  background-color: #f95791;
  color: white;
  text-align: center;
  font-size: 3vw;
  padding-top: 10px;
}

.text-on-image {
  position: absolute;
  color: white;
  top: 30%;
  left: 65%;
  font-size: 5vw;
}

@media screen and (max-width: 600px) {
  .white-box-on-image {
    height: 5vh;
  }
  .pink-box-on-image {
    top: 70%;
    height: 4vh;
    padding-top: 5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1250px) {
  .white-box-on-image {
    height: 8vh;
  }
  .pink-box-on-image {
    height: 7vh;
  }
}

.article-p {
  display: block;
  color: white;
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-text {
  width: 80%;
  margin: auto;
  margin-top: 8em;
  margin-bottom: 3em;
  background-color: white;
  font-size: 40px;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container-figure-article {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.figure-article {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: red;
}

.border-top {
  border-top: 6px solid #B03DBA;
}

.om-hero {
  background-color: #F0cF24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.om-header-text {
  width: 50%;
  margin: auto;
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-top: 0em;
  text-align: center;
}

.om-p {
  display: block;
  color: white;
  font-size: 1.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .om-p {
    font-size: 3vw;
    width: 80%;
  }
}

.uppdrag-hero {
  background-color: #DFDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.uppdrag-header-text {
  font-size: 5vw;
  color: black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.uppdrag-text {
  width: 70%;
  margin: auto;
  margin-top: 45vh;
  margin-bottom: 35vh;
  background-color: white;
  font-size: 40px;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
}

.uppdrag-p {
  display: block;
  color: black;
  font-size: 1.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .container-figure-article {
    margin-left: 3em;
  }
}

@media screen and (max-width: 800px) {
  .uppdrag-text {
    font-size: 3.5vw;
    margin-bottom: 15vh;
  }
  .uppdrag-p {
    font-size: 5.5vw;
    width: 80%;
  }
}

.analys-hero {
  background-color: #F95791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.analys-header-text {
  font-size: 5vw;
  color: black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.analys-text {
  width: 70%;
  margin: auto;
  margin-top: 45vh;
  margin-bottom: 35vh;
  background-color: white;
  font-size: 40px;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
}

.analys-p {
  display: block;
  color: black;
  font-size: 1.7vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 690px) {
  .analys-text {
    font-size: 3.5vw;
    width: 70%;
    margin-bottom: 15vh;
  }
  .analys-p {
    font-size: 3.5vw;
    width: 70%;
  }
}

.nyheter-hero {
  background-color: #B03DBA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.nyheter-header-text {
  font-size: 5vw;
  color: black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.nyheter-text {
  width: 70%;
  margin: auto;
  margin-top: 45vh;
  margin-bottom: 35vh;
  background-color: white;
  font-size: 40px;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
}

.nyheter-p {
  display: block;
  color: black;
  font-size: 1.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .container-figure-article {
    margin-left: 3em;
  }
}

@media screen and (max-width: 500px) {
  .nyheter-text,
  .nyheter-p {
    font-size: 3.5vw;
  }
}

.kalendarium-hero {
  background-color: #F0cF24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.kalendarium-header-text {
  font-size: 5vw;
  color: black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.kalendarium-text {
  width: 70%;
  margin: auto;
  margin-top: 45vh;
  margin-bottom: 35vh;
  background-color: white;
  font-size: 40px;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
}

.kalendarium-p {
  display: block;
  color: black;
  font-size: 1.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .container-figure-article {
    margin-left: 3em;
  }
}

@media screen and (max-width: 500px) {
  .kalendarium-text,
  .kalendarium-p {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 400px) {
  .analys-p {
    font-size: 4.5vw;
  }
}

.stip-hero {
  background-color: #F95791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.stip-header-text {
  font-size: 5vw;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.stip-text {
  width: 70%;
  margin: auto;
  margin-top: 55vh;
  margin-bottom: 20vh;
  background-color: white;
  font-size: 40px;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
}

.stip-p {
  display: block;
  color: white;
  font-size: 1.5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 800px) {
  .stip-text {
    font-size: 4.5vw;
    margin-bottom: 6vh;
    margin-top: 40vh;
    width: 80%;
  }
  .stip-p {
    font-size: 4vw;
    width: 90%;
  }
}

.width {
  width: 80%;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.article-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  width: 80%;
  height: 22em;
  background-color: #303030;
  border-top: 10px solid #4643d1;
}

.prplTxt {
  color: #B03DBA;
  font-size: 1em;
  margin-top: 0.5em;
}

.redTxt {
  color: crimson;
  font-size: 1em;
  margin-top: 0.5em;
}

.blueTxt {
  color: #4643d1;
  font-size: 1em;
  margin-top: 0.5em;
}

.cardTxt {
  color: #222222;
  font-size: 0.8em;
  margin-top: 0.5em;
}

@media screen and (max-width: 800px) {
  .container-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-figure-article {
    margin-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .figure-article {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2em;
  }
}

/* START LINKS AND PUBLICATIONS PART 
-------------------------------------*/
.links-hero {
  background-color: #DFDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30vh;
}

.links-pub-header-text {
  font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5em;
}

.links-pub-p {
  color: black;
  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 50%;
}

.links-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8em;
  width: 80%;
  height: 40vh;
  border-top: 10px solid #4643d1;
}

.links-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.links-pub-text {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 2em;
  font-size: 0.9rem;
  color: black;
  text-align: center;
}

.links-pub-text div {
  padding-bottom: 3em;
}

.links-pub-text h2 {
  padding-bottom: 1em;
}

.links-pub-text p {
  padding-bottom: 0.5em;
}

.links-pub-text a {
  text-decoration: none;
  color: black;
}

/*PUBLICATIONS PART*/
.pub-hero {
  background-color: #4643d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50vh;
}

.pub-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17em;
  width: 80%;
  height: 40vh;
  border-top: 10px solid #F0cF24;
}

.pub-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
  .links-hero {
    height: 50vh;
  }
  .links-pub-header-text {
    font-size: 6rem;
  }
  .links-pub-p {
    font-size: 2rem;
  }
  .links-image {
    margin-top: 20em;
  }
  .links-pub-text {
    margin-top: 40vh;
    font-size: 2rem;
  }
  .pub-hero {
    height: 60vh;
  }
  .pub-image {
    margin-top: 25em;
  }
}

/* END LINKS AND PUBLICATIONS PART 
----------------------------------*/
.container-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container-btn-stip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.internationellt-hero {
  background-color: #B03DBA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.internationellt-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  width: 80%;
  height: 22em;
  border-top: 10px solid #7a7a7a;
}

.purpleTxt {
  color: #B03DBA;
  font-size: 1em;
  margin-top: 0.5em;
}

.jämställdhet-hero {
  background-color: #4643d1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.Jämställdhet-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  width: 80%;
  height: 22em;
  border-top: 10px solid #F95791;
}

.villkor-hero {
  background-color: #F0cF24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.villkor-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  width: 80%;
  height: 22em;
  border-top: 10px solid #4643d1;
}

.index-hero {
  background-color: #F95791;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30em;
}

.index-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15em;
  width: 80%;
  height: 28em;
  border-top: 10px solid #4643d1;
}
/*# sourceMappingURL=main.css.map */