.banger-container {
  position: relative;
  width: 100%;
}

.banger {
  max-width: 100%;
  height: auto;
}

.white-box-on-image {
  position: absolute;
  height: 10vh;
  max-height: 15vh;
  width: 45vw;
  top: 45%;
  left: 0;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 3vw;
}

.pink-box-on-image {
  position: absolute;
  height: 10vh;
  max-height: 15vh;
  width: 20vw;
  top: 60%;
  left: 10%;
  background-color: #f95791;
  color: white;
  text-align: center;
  font-size: 3vw;
  padding-top: 10px;
}

.text-on-image {
  position: absolute;
  color: white;
  top: 30%;
  left: 65%;
  font-size: 5vw;
}

@media screen and (max-width: 600px) {
  .white-box-on-image {
    height: 5vh;
  }

  .pink-box-on-image {
    top: 70%;
    height: 4vh;
    padding-top: 5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1250px) {
  .white-box-on-image {
    height: 8vh;
  }

  .pink-box-on-image {
    height: 7vh;
  }
}
