.hero {
	background-color: $gray;
	text-align: center;
	color: $white;
	font-size: $heading1;
	height: $height1;
	border: $border1;
}


//Artikel sida


.article-hero {
	background-color: $article-hero-color;
	position:relative;
	display:flex;
	flex-direction: column;
	flex-basis:0;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	height:30em;
	}

	.width {
		width: 80%;
		padding-top: 2em;
		background-color: darkblue;
		display:flex;
		flex-direction: column;
		flex-basis:0;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		}


	.article-image {
		position: absolute;
		display: flex;
		margin-top: 15em;
		width: $hero-image-width;
		height: 22em;
		background-color: rgb(48, 48, 48);
		border-top: 5px solid crimson;
		
	}
	.hero-header-text{
		width: 80%;
		margin: auto;
		margin: 0;
		padding: 0;
		font-size: $hero-header-size-text;
		color: $red;
		display: block;
		margin: 0;
		margin-top: 0em;
		text-align: center;

	}
	

	.article-text {
		width: 80%;
		margin: auto;	
		margin-top: 3em;
		background-color: $white;
		font-size: $hero-header-size-text;
		color: $white;
		text-align: center;
		justify-content: center;

	}
	

	