.black-top {
  width: 100%;
  background-color: $blue;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.main-header {
  height: 15vh;
  z-index: 10;
  width: 80%;
  margin: auto;
}

.stip-btn {
  height: 8vh;
  width: 25%;
  background-color: #f0c124;
  border-radius: 10px;
  color: $black;
  font-weight: bold;
  margin-right: 10%;
  align-self: center;
  border: none;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}
.container-btn-stip {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchbar {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px, solid, $black;
}

.nav-top {
  margin-right: 10%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

.container-btn {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: center;
  margin: auto;
  padding: auto;
}

@media screen and (max-width: 500px) {
  .stip-btn {
    padding: 1px;
    width: 29%;
    height: 6vh;
  }
}

@media screen and (max-width: 800px) {
  .nav-top {
    display: flex;
    font-size: small;
    width: 100%;
    margin-right: 0;
  }

  .menu-bar ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  .menu-bar ul li {
    margin: 0px;
    margin-left: -20px;
    font-size: 11px;
  }
}