.black-top {
  width: 100%;
  background-color: $blue;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.main-header {
  height: 15vh;
  z-index: 10;
  width: 80%;
  margin: auto;
}

.stip-btn {
  height: 6vh;
  width: 23vh;
  background-color: #f0c124;
  border-radius: 10px;
  color: $black;
  font-weight: bold;
  margin-right: 10%;
  align-self: center;
  border: none;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
}

.searchbar2 {
  width: 19em;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid $black;
}

.nav-top {
  margin-right: 10%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}

.container-btn {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: center;
  margin: auto;
  padding: auto;
}
