.container-news {
	display: flex;
	flex-flow: column wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
}

.container-figure-news, .container-figure-calendar {
	margin-top: 2em;
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.figure-news {
	width: 30%;
	display: flex;
	justify-content: center;

	border-color: red;
}

figure img {
	width: 100%;
}

.horizontal-line-box {
	color: $white;
	justify-content: center;
	background-color: rgb(48, 48, 48);
	height: 30px;
	width: 150px;
	margin: 3em ;
	margin-bottom:-3em;
	display: flex;
}

figcaption {
	justify-content: center;

}



