@media screen and (max-width: 650px) {
  .carousel__track {
    padding-left: 0;
    padding-right: 0;
  }

  @for $i from 1 through 3 {
    .carousel__item--mobile-in-#{$i} {
      width: #{90% / $i};
    }
  }

  .carousel {
    max-width: 374px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
  .container-news {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .container-figure-news {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .figure-news {
    width: auto;
    flex: 1 20em;
  }

  figure img {
    max-width: 100%;
  }

  .container-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .container-images-social {
    display: flex;
  }
  .container-images-social img {
    width: auto;
  }

  /*FOOTER-----
	------*/

  footer .main {
    display: flex;
    gap: 2em;
  }

  .item-footer {
    flex: 1.5;
  }

  footer .copyright {
    display: flex;
    position: relative;
  }

  .copyright .p-item:nth-of-type(2) {
    position: absolute;
    top: 2.5em;
    left: 10em;
  }
  .copyright .p-item:nth-of-type(3) {
    position: absolute;
    right: 1.5em;
    top: 2.5em;
  }

  .copyright::before {
    width: 97vw;
  }

  // CAROUSEL

  @media screen and (max-width: 1023px) {
    .carousel {
      padding-left: 0;
      padding-right: 0;
    }

    .carousel__activator:nth-of-type(n):checked {
      ~ .carousel__controls:nth-of-type(n) {
        display: none;
      }

      ~ .carousel__screen .carousel__track {
        transform: none;
      }
    }

    .carousel__screen {
      margin-left: 0;
      margin-right: 0;
    }

    .carousel__track {
      overflow-x: auto;
      width: auto;
      padding-left: 48px;
      padding-right: 48px;
    }

    @for $i from 1 through 3 {
      .carousel__item--tablet-in-#{$i} {
        width: #{90% / $i};
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .button {
    padding: 100px;
    width: 30%;
    height: 20vh;
  }
}

@media screen and (max-width: 800px) {
  .nav-top {
    display: flex;
    font-size: small;
    width: 100%;
    margin-right: 0;
  }

  .menu-bar ul {
    display: flex;
    width: 100%;
  }

  .menu-bar ul li {
    margin: 0px;
    font-size: smaller;
  }
}
