.container-social {
	background: $gray;
	height: $height1;
	border: $border1;
}

.container-social {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.container-images-social {
	display: flex;
}
.container-images-social img {
	height: 60px;
}