.container-social {
	height: 30vh;
	padding: 1em;

}

.social-header {
	color: black;
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding: 20px;
}

.container-images-social {
	display: flex;
	flex-direction: row; 
	justify-content: space-evenly;
	width: 100%;
}
.container-images-social img {
	height: 60px;
}
