.stip-hero {
    background-color: $pink;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 30em;
  }
  .stip-header-text {
    font-size: 3.5vw;
    color: $black;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
  
  .stip-text {
    width: 70%;
    margin: auto;
    margin-top: 40vh;
    margin-bottom: 20vh;
    background-color: $white;
    font-size: $hero-header-size-text;
    color: $black;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;
  }
  
  .stip-p {
    display: block;
    color: $black;
    font-size: 1.5vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .stip-image {
    position: absolute;
    display: flex;
    margin-top: 20em;
    width: $hero-image-width;
    height: 30em;
    background-color: rgb(48, 48, 48);
    border-top: 10px solid $blue;
  }
  
  @media screen and (max-width: 800px) {
    .stip-text {
      font-size: 3.5vw;
      margin-bottom: 6vh;
      margin-top: 40vh;
      width: 80%;
    }
    .stip-p {
      font-size: 4vw;
      width: 90%;
    }
    .stip-image {
      height: 20em;
      margin-top: 23em;
    }
  }