// Same on all platforms

.article-p {
	color: $black;
	font-size: 2rem;
	justify-content: center;
	text-align: center;
	width: 70%;
	margin-bottom: 1em;

}

.article-text {
  width: 80%;
  margin: auto;
  //lagt till
  margin-top: 12em;
  margin-bottom: 3em;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
}

.container-article {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.container-figure-article {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 18em;
	display: flex;
	width: 70%;
	justify-content: space-between;
	align-content: center;
	
}

.figure-article {
	width: 30%;
	display: flex;
	justify-content: center;
	height: auto;

	margin-bottom: 50px;

	
}

.border-top {
  border-top: 10px solid $purple;
}

.border-top-blue {
	border-top: 10px solid $blue;
}
//----------OM OSS

.om-hero {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}
.om-header-text {
  width: 50%;
  margin: auto;
  margin: 0;
  padding: 0;
  font-size: $hero-header-size-text;
  color: $black;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-top: 0em;
  text-align: center;
}

.om-p {
  display: block;
  color: $black;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
}

.om-text {
  width: 70%;
  margin: auto;
  margin-top: 35vh;
  margin-bottom: 15vh;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
  font-size: 2vw;

  li {
    list-style-type: none;
  }

  li:before {
    content: "-";
  }
}

.about-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 30em;
  background-color: rgb(48, 48, 48);
  border-top: 10px solid $blue;
}

@media screen and (max-width: 800px) {
  .om-p {
    font-size: 3vw;
    width: 80%;
  }
  .about-image {
    height: 15em;
  }

  .om-text {
    margin-top: 18vh;
    font-size: 3vw;
    margin-bottom: 10vh;
  }
}

//---------REGERINGSUPPDRAG

.uppdrag-hero {
  background-color: $grey-white;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}
.uppdrag-header-text {
  font-size: 5vw;
  color: $black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.uppdrag-text {
  width: 70%;
  margin: auto;
  margin-top: 45vh;
  margin-bottom: 35vh;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
  font-size: 1.5vw;
}
.uppdrag-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 30em;
  background-color: rgb(48, 48, 48);
  border-top: 10px solid $blue;
}

.uppdrag-p {
  display: block;
  color: $black;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .container-figure-article {
    margin-left: 3em;
  }
}

@media screen and (max-width: 800px) {
  .uppdrag-text {
    font-size: 3.5vw;
    margin-bottom: 15vh;
  }
  .uppdrag-p {
    font-size: 3.5vw;
    width: 80%;
  }
  .uppdrag-image {
    height: 20em;
  }
}

//------------ANALYS OCH UTREDNING

.analys-hero {
  background-color: $pink;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}
.analys-header-text {
  font-size: 5vw;
  color: $black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.analys-text {
  width: 70%;
  margin: auto;
  margin-top: 35vh;
  margin-bottom: 15vh;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
  font-size: 1.5vw;
}

.analys-p {
  display: block;
  color: $black;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.analys-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 30em;
  background-color: rgb(48, 48, 48);
  border-top: 10px solid $blue;
}

@media screen and (max-width: 890px) {
  .analys-text {
    font-size: 3.5vw;
    width: 70%;
    margin-bottom: 15vh;
    margin-top: 25vh;
  }
  .analys-p {
    font-size: 3.5vw;
    width: 70%;
  }
  .analys-image {
    height: 18em;
  }
}

//---------NYHETER

.nyheter-hero {
  background-color: $purple;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}
.nyheter-header-text {
  font-size: 5vw;
  color: $black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.nyheter-text {
  width: 70%;
  margin: auto;
  margin-top: 45vh;
  margin-bottom: 35vh;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
  font-size: 1.5vw;
}

.nyheter-p {
  display: block;
  color: $black;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .container-figure-article {
    margin-left: 3em;
  }
}

@media screen and (max-width: 500px) {
  .nyheter-text,
  .nyheter-p {
    font-size: 3.5vw;
  }
}

// ---- KALENDARIUM

.kalendarium-hero {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}
.kalendarium-header-text {
  font-size: 4vw;
  color: $black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.kalendarium-text {
  width: 70%;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 15vh;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
  font-size: 1.5vw;
}

.kalendarium-p {
  display: block;
  color: $black;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
}

.kalendarium-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 30em;
  background-color: rgb(48, 48, 48);
  border-top: 10px solid $blue;
}

@media screen and (max-width: 500px) {
  .kalendarium-image {
    height: 14em;
  }
  .kalendarium-p {
    font-size: 3.5vw;
  }

  .kalendarium-text {
    font-size: 3vw;
    margin-bottom: 7vh;
  }
}

//------------ANALYS OCH UTREDNING

@media screen and (max-width: 400px) {
  .analys-p {
    font-size: 4.5vw;
  }
}
//----------Stipendier
.stip-hero {
  background-color: $pink;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}
.stip-header-text {
  font-size: 3.5vw;
  color: $black;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.stip-text {
  width: 70%;
  margin: auto;
  margin-top: 55vh;
  margin-bottom: 20vh;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
  font-size: 1.5vw;
}

.stip-p {
  display: block;
  color: $black;
  font-size: 1.5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}
.stip-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 30em;
  background-color: rgb(48, 48, 48);
  border-top: 10px solid $blue;
  
}


@media screen and (max-width: 800px) {
  .stip-text {
    font-size: 3.5vw;
    margin-bottom: 6vh;
    margin-top: 40vh;
    width: 80%;
  }
  .stip-p {
    font-size: 4vw;
    width: 90%;
  }
  .stip-image {
    height: 20em;
    margin-top: 23em;
  }
}

.width {
  width: 80%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.article-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 30em;
  background-color: rgb(48, 48, 48);
  border-top: 10px solid $blue;
}

.prplTxt {
  margin-bottom: 1em;
  color: $purple;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-family: $font-stack;
}

.blueTxt {
	margin-bottom: 1em;
	color: $blue;
	font-size: 1.2em;
	margin-top: 0.5em;
	font-family: $font-stack;
}

.cardTxt {
	font-family: $font-stack;
	color: rgb(34, 34, 34);
	font-size: 0.9em;
	margin-top: 0.5em;
}

// Article page 600px

@media screen and (max-width: 800px) {
  .container-article {
    display: flex;
    flex-direction: column;
  }

  .container-figure-article {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .figure-article {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

/* START LINKS AND PUBLICATIONS PART 
-------------------------------------*/

.links-hero {
  background-color: $grey-white;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30vh;
}

.links-pub-header-text {
  font-size: 1.2rem;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5em;
}

.links-pub-p {
  color: $white;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  width: 70%;
}

.links-image {
  position: absolute;
  display: flex;
  margin-top: 8em;
  width: $hero-image-width;
  height: 40vh;
  border-top: 10px solid $blue;
}
.links-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links-pub-text {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 2em;
  font-size: 0.9rem;
  color: $black;
  text-align: center;
}

.links-pub-text div {
  padding-bottom: 3em;
}
.links-pub-text h2 {
  padding-bottom: 1em;
}
.links-pub-text p {
  padding-bottom: 0.5em;
}
.links-pub-text a {
  text-decoration: $text-decoration1;
  color: $black;
}

/*PUBLICATIONS PART*/

.pub-hero {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 50vh;
}

.pub-image {
  position: absolute;
  display: flex;
  margin-top: 17em;
  width: $hero-image-width;
  height: 40vh;
  border-top: 10px solid $yellow;
}
.pub-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
  .links-hero {
    height: 50vh;
  }

  .links-pub-header-text {
    font-size: 3rem;
  }
  .links-pub-p {
    font-size: 2rem;
  }
  .links-image {
    height: 50vh;
    margin-top: 20em;
  }
  .links-pub-text {
    margin-top: 50vh;
    font-size: 2rem;
  }
  .pub-hero {
    height: 60vh;
  }
  .pub-image {
    margin-top: 25em;
    height: 50vh;
  }
}

/* END LINKS AND PUBLICATIONS PART 
----------------------------------*/

// Internationellt

.container-article {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.container-btn-stip {
  display: flex;
  justify-content: center;
  width: 100%;
}

.internationellt-hero {
  background-color: $purple;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 25em;
}


.internationellt-p {
	display: block;
	color: $black;
	font-size: 1.5vw;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 90%;
}

.internationellt-text {
width: 80%;
  margin: auto;
  //lagt till
  margin-top: 10em;
  margin-bottom: 3em;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
}

.internationellt-header-text {
	width: 50%;
	margin: auto;
	margin: 0;
	padding: 0;
	font-size: $hero-header-size-text;
	color: $black;
	text-transform: uppercase;
	display: block;
	margin: 0;
	margin-top: 0em;
	text-align: center;
}

.internationellt-image {
  position: absolute;
  display: flex;
  margin-top: 15em;
  width: $hero-image-width;
  height: 32em;
  border-top: 10px solid $article-hero-color;
}

@media screen and (max-width: 800px) {
	.internationellt-p {
	  font-size: 3vw;
	  width: 80%;
	}
	.internationellt-image{
	  height: 15em;
	}

	.internationellt-text {
	  margin-top: 18vh;
	  font-size: 3vw;
	  margin-bottom: 10vh;
	}
	
	.internationellt-header-text {
		font-size: $hero-header-size-text;
		width: 120%;
		margin-bottom: 4vh;
	}
  }

.purpleTxt {
  color: $purple;
  font-size: 1em;
  margin-top: 0.5em;
}


// Ekonomiska och sociala villkor

.villkor-hero {
  background-color: $yellow;
  // position:relative;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}

.villkor-image {
  position: absolute;
  display: flex;
  margin-top: 15em;
  width: $hero-image-width;
  height: 22em;
  border-top: 10px solid $blue;
}

//INDEX SIDA

.hero-header-text{
	width: 50%;
	margin: auto;
	margin: 0;
	padding: 0;
	font-size: $hero-header-size-text;
	color: $black;
	text-transform: uppercase;
	display: block;
	margin: 0;
	margin-top: 0em;
	text-align: center;
	
}

.index-hero {
  background-color: $pink;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}




.index-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 28em;
  //ÄNDRA HEIGHT
  border-top: 10px solid $blue;
}

.index-p {
	display: block;
	color: $black;
	font-size: 1.5vw;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 90%;

}

.index-text {
width: 80%;
  margin: auto;
  //lagt till
  margin-top: 10em;
  margin-bottom: 3em;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
	.index-p {
	  font-size: 3vw;
	  width: 80%;
	}
	.index-image{
	  height: 15em;
	}

	.index-text {
	  margin-top: 18vh;
	  font-size: 3vw;
	  margin-bottom: 10vh;
	}
	.hero-header-text {
		font-size: $hero-header-size-text;
		width: 80%;
		margin-bottom: 4vh;
	  }
  }

  // Jämställdhet
  .Jämställdhet-header-text {
	width: 50%;
	margin: auto;
	margin: 0;
	padding: 0;
	font-size: $hero-header-size-text;
	color: $black;
	text-transform: uppercase;
	display: block;
	margin: 0;
	margin-top: 0em;
	text-align: center;
  }

.jämställdhet-hero {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}




.Jämställdhet-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 28em;
  //ÄNDRA HEIGHT
  border-top: 10px solid $pink;
}

.Jämställdhet-p {
	display: block;
	color: $black;
	font-size: 1.5vw;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 90%;

}

.Jämställdhet-text {
width: 80%;
  margin: auto;
  //lagt till
  margin-top: 10em;
  margin-bottom: 3em;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
	.Jämställdhet-p {
	  font-size: 3vw;
	  width: 80%;
	}
	.Jämställdhet-image{
	  height: 15em;
	}

	.Jämställdhet-text {
	  margin-top: 18vh;
	  font-size: 3vw;
	  margin-bottom: 10vh;
	}
	.Jämställdhet-header-text {
		font-size: $hero-header-size-text;
		width: 130%;
		margin-bottom: 4vh;
	  }
  }

  // EKONOMISKA OCH SOCIALA VILLKOR
  .villkor-header-text {
	width: 50%;
	margin: auto;
	margin: 0;
	padding: 0;
	font-size: $hero-header-size-text;
	color: $black;
	text-transform: uppercase;
	display: block;
	margin: 0;
	margin-top: 0em;
	text-align: center;
  }

.villkor-hero {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 30em;
}




.villkor-image {
  position: absolute;
  display: flex;
  margin-top: 20em;
  width: $hero-image-width;
  height: 28em;
  //ÄNDRA HEIGHT
  border-top: 10px solid $blue;
}

.villkor-p {
	display: block;
	color: $black;
	font-size: 1.5vw;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 90%;

}

.villkor-text {
width: 80%;
  margin: auto;
  //lagt till
  margin-top: 10em;
  margin-bottom: 3em;
  background-color: $white;
  font-size: $hero-header-size-text;
  color: $black;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
	.villkor-p {
	  font-size: 3vw;
	  width: 80%;
	}
	.villkor-image{
	  height: 15em;
	}

	.villkor-text {
	  margin-top: 18vh;
	  font-size: 3vw;
	  margin-bottom: 10vh;
	}
	.villkor-header-text {
		font-size: $hero-header-size-text;
		width: 130%;
		margin-bottom: 4vh;
	  }
  }