// Same on all platforms

.container-article {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.container-figure-article {
  margin-top: 7em;
  margin-left: 18em;
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-content: center;
}

.figure-article {
  width: 30%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-bottom: 50px;
}

.border-top {
  border-top: 10px solid $purple;
}

.border-top-blue {
  border-top: 10px solid $blue;
}

.width {
  width: 80%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}


.prplTxt {
  margin-bottom: 1em;
  color: $purple;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-family: $font-stack;
}

.blueTxt {
  margin-bottom: 1em;
  color: $blue;
  font-size: 1.2em;
  margin-top: 0.5em;
  font-family: $font-stack;
}

.cardTxt {
  font-family: $font-stack;
  color: rgb(34, 34, 34);
  font-size: 0.9em;
  margin-top: 0.5em;
}

// Article page 600px

@media screen and (max-width: 800px) {
  .container-article {
    display: flex;
    flex-direction: column;
  }

  .container-figure-article {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .figure-article {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

.container-article {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}






