.container-video {
	background: $yellow;
	height: $height;
	width: $width;
	padding: 5em 4em;
	
}

.video-text h2 {
	padding-bottom: 1em;
}

.video-text p {
	padding-bottom: .5em;

}
.video iframe {
	width: $width;
	height: $height;
	padding-top: 2em;
}
