.container-video {
	width: 100%;
	margin-top: 3em;
	display: flex;
	background: #991122;
}

  .videobox {
	width: 80%;
	margin: auto;
	background-color: darkblue;
	display:flex;
	flex-direction: row;
	}

	.item1 {
		box-sizing: border-box;
		width: 50%;
		padding: 2em;
	  }

	  .item2 {
		box-sizing: border-box;
		width: 50%;
	  }

.video {

}
