.container-video {
	background: $yellow;
	height: auto;
	width: 100%;
	padding: 5em 4em;
	
}

.video-text h2 {
	padding-bottom: 1em;
}

.video-text p {
	padding-bottom: .5em;

}
.video iframe {
	width: 100%;
	height: auto;
	object-fit: cover;
	padding-top: 2em;
}






/*
display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
	padding: 5em 15em;
*/