/* Global variables */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap%27');
@import url('http://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

$font-stack: Open Sans, sans-serif;
$primary-color: #333;
$secondary-color: #333;
$gray: rgb(124, 104, 104);
$white: white;
$black: black;
$heading1: 2.5em;
$height: auto;
$width: 100%;
$height1: 20vh;
$height2: 90vh;
$border1: 1px solid black;
$border1: 1px solid black;
$text-decoration1: none;

//Artcicle variables

$hero-image-width: 80%;
$hero-image-height: 300px;
$article-hero-color: rgb(122, 122, 122);
$article-img-background-color: rgb(202, 69, 69);
$article-text-height: 700px;
$hero-header-size-text:40px;

// global color variables
$pink:#F95791;
$blue: #4643d1;
$purple: #B03DBA;
$yellow: #F0cF24;
$grey-white: #DFDBDB;


