/* Global variables */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #333;
$gray: rgb(124, 104, 104);
//$light-red: rgb(124, 104, 104);
//$dark-red: rgb(124, 104, 104);
//$gray: rgb(217, 217, 217);
$white: white;
$black: black;
$heading1: 2.5em;
$height1: 20vh;
$border1: 1px solid black;