/* Global variables */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: #333;
$gray: rgb(124, 104, 104);
//$light-red: rgb(124, 104, 104);
//$dark-red: rgb(124, 104, 104);
//$gray: rgb(217, 217, 217);
$white: white;
$black: black;
$heading1: 2.5em;
$height1: 20vh;
$border1: 1px solid black;

//Artcicle variables

$hero-image-width: 80%;
$hero-image-height: 300px;
$article-hero-color: rgb(122, 122, 122);
$article-img-background-color: rgb(202, 69, 69);
$article-text-height: 700px;
$hero-header-size-text:40px;

// global color variables
$pink:#F95791;
$blue: #4643d1;
$purple: #B03DBA;
$yellow: #F0cF24;
$grey-white: #DFDBDB;


